<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class = "notice">
   <h3> <%=flash[:notice]%></h3>
</div>

<div class= "container-fluid"><br>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %><br>
  </div>

  <div class="form-group">
    <%= f.label :email_address %>
    <%= f.text_field :email_address,:placehlder => "example@coloradocollege.edu" ,class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label :student_ID %>
    <%= f.number_field :student_ID, class: "form-control" %><br>
  </div>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.number_field :phone, class: "form-control" %><br>
  </div>

  <table class = "table">
   <thead>
      <tr>
        <th>Gear Type</th>
        <th>Rental Date</th>
        <th>Renturn Date</th>
        <th>Days Used</th>
        <th>On time price</th>

      </tr>
   </thead>

   <tbody class = "fields">
    <%= f.simple_fields_for :rentals do |rental| %>
    <tr>
     <td><%= rental.input :Gear_Type, label: false%> </td>
     <td><%= rental.input :rental_date, label: false %></td>
     <td><%= rental.input :return_date, label: false %></td>
     <td><%= rental.input :rental_date, label: false %></td>
     <td><%= rental.input :days_used, label: false %></td>
    <td><%= rental.input :on_time_price, label: false %></td>
    </tr>
    <%end%>
   </tbody>
  </table>


  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-primary"%>
    <%= link_to_add_row('Add Rental', f, :rentals, class: 'btn btn-primary') %>
  </div>

  <%= link_to 'Back', users_path, class: "btn btn-outline-secondary" %>
  <p></p>
</div>
<% end %>
