<tr>
  <td><%= f.input :Gear_Type, label: false%> </td>
  <td><%= f.input :rental_date, label: false %></td>
  <td><%= f.input :return_date, label: false %></td>
  <td><%= f.input :rental_date, label: false %></td>
  <td><%= f.input :days_used, label: false %></td>
  <td><%= f.input :on_time_price, label: false %></td>
</tr>
