<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email adress:</strong>
  <%= @user.email_address %>
</p>

<p>
  <strong>Student id:</strong>
  <%= @user.student_ID %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
