<%= form_for(@rental) do |f| %>
  <% if @rental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rental.errors.count, "error") %> prohibited this rental from being saved:</h2>

      <ul>
      <% @rental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.collection_select(:user_ID, User.all,:last_name,:first_name,{:prompt => "Select Renter's First Name"})%>
    <p>
    </p>
  </div>

<div class="field">
    <%= f.label :last_name %>
    <%= f.collection_select(:user_ID, User.all,:first_name,:last_name,{:prompt => "Select Renter's Last Name"})%>
    <p>
    </p>
  </div>


  <div class="field">
    <%= f.label :Gear_Type %><br>
    <%= f.collection_select(:Gear_Type, Inventory.all,:Brand,:Model, {:prompt => "Rental Item Options"})%>
  </div>
  <div class="field">
    <%= f.label :rental_date %><br>
    <%= f.text_field :rental_date %>
  </div>
  <div class="field">
    <%= f.label :return_date %><br>
    <%= f.text_field :return_date %>
  </div>
  <div class="field">
    <%= f.label :days_used %><br>
    <%= f.number_field :days_used %>
  </div>
  <div class="field">
    <%= f.label :on_time_price %><br>
    <%= f.text_field :on_time_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
