<table class = "table table-striped table-hover">
  <thead>
    <tr>
      <th>Email:</th>
      <th>Gear Type</th>
      <th>Item ID</th>
      <th>Rental Date</th>
      <th>Return Date</th>
      <th>Days Used</th>
      <th>On Time Price ($)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.user_id %></td>
        <td><%= rental.Gear_Type %></td>
        <td><%= rental.blahID %></td>
        <td><%= rental.rental_date %></td>
        <td><%= rental.return_date %></td>
        <td><%= rental.days_used %></td>
        <td><%= rental.on_time_price %></td>
      </tr>
    <% end %>
  </tbody>
</table>
