<div class="container-fluid">
    
   <%= @users.each do |user_info|%>
     <%= label_tag(:first_name, "First Name:")%>
     <%= text_field_tag(:first_name, user_info.first_name) %>

     <%= label_tag(:last_name, "Last Name") %>
     <%= text_field_tag(:last_name, user_info.last_name) %>

     <%= label_tag(:email_address, "Email Address")%>
     <%= text_field_tag(:email_address, user_info.email_address) %>
  <%end%>
</div>

