<p id="notice"><%= notice %></p>

<h1>Listing Rentals</h1>
<p>
  This page displays all currently rented items.
</p>
<p>
  <a href="http://localhost:3000/users">View Users</a>
  <a href="http://localhost:3000/inventories">View Inventory</a>
</p>


<div class="search">
  <h1 class="search">Search</h1>
  <%= form_tag rentals_path, :method => :get, :id => 'filter_form' do %>
    <div class="grid-container">
      <% Rental.all_filters.each do |filt| %>
        <div class="<%= filt %>_label">
          <%= filt %>
        </div>
        <div class="<%= filt %>_select">
          <%= select_tag filt, options_for_select(Rental.unique_options(filt), :selected => params[filt]), :include_blank => true %>
        </div>
      <% end %>
    </div>
    <%= submit_tag 'Search' %>
    <%= submit_tag 'Clear' %>
  <% end %>
</div>

<%= render :partial => "rental_table" %>

<br>
<%= link_to 'New Rental', new_rental_path%>
<%= link_to 'Search Rentals', search_find_path%>

