<p id="notice"><%= notice %></p>

<div class="container-fluid">
    <h2>Current Rentals</h2>
    <h1></h1>
    <p>
      This page displays all currently rented items.
    </p>



<div class="search">
  <h4 class="search">Search</h4>
  <%= form_tag rentals_path, :method => :get, :id => 'filter_form' do %>
    <div class="grid-container">
      <% Rental.all_filters.each do |filt| %>
        <div class="<%= filt %>_label">
          <%= filt %>
        </div>
        <div class="<%= filt %>_select">
          <%= select_tag filt, options_for_select(Rental.return_options(filt), :selected => params[filt]), :include_blank => true %>
        </div>
      <% end %>
    </div>
    <%= submit_tag 'Search' %>
    <%= submit_tag 'Clear' %>
  <% end %>
  <p></p>
  <%= link_to 'Create New Rental', new_rental_path, class: "btn btn-outline-info" %>
  <p></p>


</div>
<%= render :partial => "rental_table" %>
</div>




<div class="container-fluid">
    <%= link_to 'Create New Rental', new_rental_path, class: "btn btn-outline-info" %>
</div>

