
<div class="container-fluid">
    <p>
      <strong>First Name:</strong>
      <%= @rental.first_name %>
    </p>

    <p>
      <strong>Last Name:</strong>
      <%= @rental.last_name %>
    </p>

     <p>
      <strong>Email:</strong>
      <%= @rental.email_address %>
    </p>

    <p>
      <strong>Gear Type:</strong>
      <%= @rental.Gear_Type %>
    </p>

    <p>
      <strong>Item ID:</strong>
      <%= @rental.blahID %>
    </p>

    <p>
      <strong>Rental date:</strong>
      <%= @rental.rental_date %>
    </p>

    <p>
      <strong>Return date:</strong>
      <%= @rental.return_date %>
    </p>

    <p>
      <strong>Days used:</strong>
      <%= @rental.days_used %>
    </p>

    <p>
      <strong>On time price:</strong>
      <%= @rental.on_time_price %>
    </p>

    <%= link_to 'Edit', edit_rental_path(@rental), class: "btn btn-outline-success" %>
    <%= link_to 'Archive', @rental, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-dark" %>
    <%= link_to 'Back', rentals_path, class: "btn btn-outline-secondary" %>

</div>
