<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @rental.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @rental.last_name %>
</p>

<p>
  <strong>Gear Type:</strong>
  <%= @rental.Gear_Type %>
</p>

<p>
  <strong>Model:</strong>
  <%= @rental.Model %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @rental.Brand %>
</p>

<p>
  <strong>Rental date:</strong>
  <%= @rental.rental_date %>
</p>

<p>
  <strong>Return date:</strong>
  <%= @rental.return_date %>
</p>

<p>
  <strong>Days used:</strong>
  <%= @rental.days_used %>
</p>

<p>
  <strong>On time price:</strong>
  <%= @rental.on_time_price %>
</p>

<!-- <%= link_to 'Edit', edit_rental_path(@rental) %> | -->
<%= link_to 'Back', rentals_path %>
