<!DOCTYPE html>
<html>
<head>
  <title>ORCApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>

    <header>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <%= link_to 'Users', users_path, class: "btn btn-light" %>
                <%= link_to 'Rentals', rentals_path, class: "btn btn-light" %>
                <%= link_to 'Inventory', inventories_path, class: "btn btn-light" %>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <%= link_to "Sign Out", destroy_administrator_session_path, method: :delete, class: "btn btn-light" %>
            </ul>
        </nav>
    </header>

<!--<p class="notice"><%= notice %></p>-->
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
