<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bulk %><br>
    <%= f.check_box :Bulk %>
  </div>
  <div class="field">
    <%= f.label :gear_type %><br>
    <%= f.text_field :Gear_Type %>
  </div>
  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :Brand %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :Model %>
  </div>
  <div class="field">
    <%= f.label :color %><br>
    <%= f.text_field :Color %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :Size %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br>
    <%= f.text_field :Serial_Number %>
  </div>
  <div class="field">
    <%= f.label :retail %><br>
    <%= f.text_field :Retail %>
  </div>
  <div class="field">
    <%= f.label :purchase_price %><br>
    <%= f.text_field :Purchase_Price %>
  </div>
  <div class="field">
    <%= f.label :total_spent %><br>
    <%= f.text_field :Total_Spent %>
  </div>
  <div class="field">
    <%= f.label :date_purchased %><br>
    <%= f.text_field :Date_Purchased %>
  </div>
  <div class="field">
    <%= f.label :purchase_method %><br>
    <%= f.text_field :Purchase_Method %>
  </div>
  <div class="field">
    <%= f.label :reason %><br>
    <%= f.text_area :Reason %>
  </div>
  <div class="field">
    <%= f.label :gear_category %><br>
    <%= f.text_field :Gear_Category %>
  </div>
  <div class="field">
    <%= f.label :available %><br>
    <%= f.check_box :Available %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
