<p id="notice"><%= notice %></p>

<h1>Listing Inventories</h1>
<p>
  This page displays all items in inventory.
</p>
<p>
  <a href="http://localhost:3000/rentals">View Rentals</a>
  <a href="http://localhost:3000/users">View Users</a>
</p>
<table>
  <thead>
    <tr>
      <th>Bulk</th>
      <th>Gear type</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Color</th>
      <th>Size</th>
      <th>Serial number</th>
      <th>Retail</th>
      <th>Purchase price</th>
      <th>Total spent</th>
      <th>Date purchaseed</th>
      <th>Purchase method</th>
      <th>Reason</th>
      <th>Gear category</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.Bulk %></td>
        <td><%= inventory.Gear_Type %></td>
        <td><%= inventory.Brand %></td>
        <td><%= inventory.Model %></td>
        <td><%= inventory.Color %></td>
        <td><%= inventory.Size %></td>
        <td><%= inventory.Serial_Number %></td>
        <td><%= inventory.Retail %></td>
        <td><%= inventory.Purchase_Price %></td>
        <td><%= inventory.Total_Spent %></td>
        <td><%= inventory.Date_Purchased %></td>
        <td><%= inventory.Purchase_Method %></td>
        <td><%= inventory.Reason %></td>
        <td><%= inventory.Gear_Category %></td>
        <td><%= inventory.Available %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'ShowALLINV', inventory %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
