<p id="notice"><%= notice %></p>

<div class="container-fluid">
    <p>
      This page displays all itemized and bulk items in inventory.
    </p>

<h2>Itemized Inventory</h2>

<p>
<%= link_to 'Add New Item', new_inventory_path, class: "btn btn-outline-info" %>
</p>
</div>

<table class = "table table-striped table-hover">
  <thead>
    <tr>
      <th>Gear type</th>
      <th>Brand</th>
      <th>Model</th>
      <th>Color</th>
      <th>Size</th>
      <th>Serial number</th>
      <th>Gear category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="itemList">
    <% @inventories.each do |inventory| %>
      <tr data-toggle="modal" data-target="#Modal">
        <td><%= inventory.Gear_Type %></td>
        <td><%= inventory.Brand %></td>
        <td><%= inventory.Model %></td>
        <td><%= inventory.Color %></td>
        <td><%= inventory.Size %></td>
        <td><%= inventory.Serial_Number %></td>
        <td><%= inventory.Gear_Category %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory), class: "btn btn-outline-success" %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="container-fluid">
    <h2>Bulk Inventory</h2>
</div>


<table class = "table table-striped table-hover">
  <thead>
    <tr>
      <th>Gear Type</th>
      <th>Gear Category</th>
      <th>Quantity</th>
      <th>Notes</th>
      <th colspan="0"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulks.each do |bulk| %>
      <tr>
        <td><%= bulk.Gear_Type %></td>
        <td><%= bulk.Gear_Category %></td>
        <td><%= bulk.Quantity %></td>
        <td><%= bulk.Notes %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<!-- Code to union both bulk and itemized into one table
<<table>
  <<thead>
    <<tr>
      <<th>id</th>
      <<th>gear_type</th>
    </tr>
  </thead>
  <<tbody>
    <% @blahs = Bulk.all_bulk + Inventory.all_it%>
    <% @blahs.each do |blah| %>
    <<tr>
      <<td><%= blah.id %></td>
      <<td><%= blah.Gear_Type %></td>
    </tr>
    <% end %>
  </tbody>
</table>
-->

<br>

<div class="container-fluid">
    <%= link_to 'Add New Item', new_inventory_path, class: "btn btn-outline-info" %>
</div>
<p></p>

<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel"> First and Last name here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="ModalBody">
          Item Info Here
      </div>
      <div class="modal-body" id="ModalBody2">
          Item Info Here
      </div>
      <div class="modal-body" id="ModalBody3">
          Item Info Here
      </div>
      <div class="modal-body" id="ModalBody4">
          Item Info Here
      </div>
      <div class="modal-body" id="ModalBody5">
          Item Info Here
      </div>
      <div class="modal-body" id="ModalBody6">
          Item Info Here
      </div>
      <div class="modal-body" id="ModalBody7">
          Item Info Here
      </div>
      <div class="modal-body" id="ModalBody8">
          Item Info Here
      </div>
    </div>
  </div>
</div>
