<p id="notice"><%= notice %></p>

<p>
  <strong>Gear type:</strong>
  <%= @inventory.gear_type %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @inventory.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @inventory.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @inventory.color %>
</p>

<p>
  <strong>Size:</strong>
  <%= @inventory.size %>
</p>

<p>
  <strong>Serial number:</strong>
  <%= @inventory.serial_number %>
</p>

<p>
  <strong>Retail:</strong>
  <%= @inventory.retail %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @inventory.purchase_price %>
</p>

<p>
  <strong>Total spent:</strong>
  <%= @inventory.total_spent %>
</p>

<p>
  <strong>Date purchaseed:</strong>
  <%= @inventory.date_purchaseed %>
</p>

<p>
  <strong>Purchase method:</strong>
  <%= @inventory.purchase_method %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @inventory.reason %>
</p>

<p>
  <strong>Gear category:</strong>
  <%= @inventory.gear_category %>
</p>

<p>
  <strong>Available:</strong>
  <%= @inventory.available %>
</p>

<p>
  <strong>Bulk:</strong>
  <%= @inventory.bulk %>
</p>

<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
